<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="" th:href="@{/css/style2.css}"/> 
</head>

<body>
    <header>
        <h1> Vision Volunteer Alliance</h1>
        <img src="" th:src="@{images/vva.png}" alt="vva logo">
    </header>
    <nav>
        <a href="/login/kids">Kids Login</a>
        <a href="/login/volunteer">Volunteer Login</a>
        <a href="/vision">Vision</a>
    </nav>
    <section>
        <article>
            <div class="image-stack">
                <div class="stack-top">
                    <img src="" th:src="@{images/kids.png}" alt="kids vva"/>
                </div>
                <div class="stack-bottom">
                    <img src="" th:src="@{images/volunteer.png}"alt="volunteer vva"/>
                </div>
            </div>
        </article>
        <article>
            <p>
                "The not-for-profit organization strives to provide young adolescents with peer
                companionship and mentorship, expand their horizons through enriching
                extracurricular programs, and empower them to become global citizens."
            </p>
        </article>
    </section>
    <div id="footer">
        <a href="mailto: xyz@gmail.com">Contact Us</a>
    </div>
</body>

</html>