<head>
    <link rel="stylesheet" href="style.css">
    <script src="animation.js"> </script>
</head>

<body>
  <header class="cd-main-header text-center flex flex-column flex-center">
    <h1>Jake's Timeline</h1>
  </header>

  <!-- <section class="buttons">
  
  <form action="/save", method="POST">
    <p> Describe What you did:</p>
    <input type="text">

    <p> Add a photo:</p>
    <input type="file" id="myFile" name="filename">
    <input type="submit">
  </form>

  </section> -->

   <!-- A button to open the popup form -->
<button class="open-button" onclick="openForm()">Add Entry</button>

<div class="form-popup" id="myForm">
  <form action="/save", method="POST", class="form-container">
    <h1>New Entry</h1>

    <label for="text"><b>text description</b></label>
    <input type="text" placeholder="Enter Text" name="text" required>

    <label for="file"><b>image upload</b></label>
    <input type="file" placeholder="Upload Photos" name="file">

    <button type="submit" class="btn">post</button>
    <button type="button" class="btn cancel" onclick="closeForm()">close</button>
  </form>
</div> 

<!-- The form -->
<!-- <div class="form-popup" id="myForm">
    <form action="/action_page.php" class="form-container">
      <h1>Add An Entry</h1>

      <label for="email"><b>text description</b></label>
      <input type="text" placeholder="Enter Text" name="email" required>

      <label for="psw"><b>image</b></label>
      <input type="password" placeholder="Upload Photos" name="psw" required>

      <button type="submit" class="btn">Post</button>
      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
    </form>
  </div>  -->

  <div class="wrapper">
    <div class="center-line">
      <a href="#" class="scroll-icon"><i class="fas fa-caret-up"></i></a>
    </div>
    <div class="row row-1">
      <section>
        <i class="icon fas fa-home"></i>
        <div class="details">
          <span class="title">Fishing!</span>
          <span>1st July 2022</span>
        </div>
        <p>went fishing with my favorite kid!</p>
      </section>
    </div>
    <div class="row row-2">
      <section>
        <i class="icon fas fa-star"></i>
        <div class="details">
          <span class="title">Soccer fun</span>
          <span>2nd June 2022</span>
        </div>
        <p>5-1!</p>
      </section>
    </div>
    <div class="row row-1">
      <section>
        <i class="icon fas fa-rocket"></i>
        <div class="details">
          <span class="title">Title of Section 3</span>
          <span>3rd Jan 2021</span>
        </div>
        <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
      </section>
    </div>
    <div class="row row-2">
      <section>
        <i class="icon fas fa-globe"></i>
        <div class="details">
          <span class="title">Title of Section 4</span>
          <span>4th Jan 2021</span>
        </div>
        <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
      </section>
    </div>
    <div class="row row-1">
      <section>
        <i class="icon fas fa-paper-plane"></i>
        <div class="details">
          <span class="title">Title of Section 5</span>
          <span>5th Jan 2021</span>
        </div>
        <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
      </section>
    </div>
    <div class="row row-2">
      <section>
        <i class="icon fas fa-map-marker-alt"></i>
        <div class="details">
          <span class="title">Title of Section 6</span>
          <span>6th Jan 2021</span>
        </div>
        <p>Lorem ipsum dolor sit ameters consectetur adipisicing elit. Sed qui veroes praesentium maiores, sint eos vero sapiente voluptas debitis dicta dolore.</p>
      </section>
    </div>
  </div>

</body>