<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
         <link rel="stylesheet" href="" th:href="@{/css/style2.css}"/> 
</head>

<body>

    <header class="vision1">
        <h1 class="vision2"> Vision Volunteer Alliance</h1>
        <img src="" th:src="@{images/vva.png}" alt="vva logo">
    </header>
    <h2 class="h2-class"> Our Mission</h2>
    <p class="text">
        Established on April 5th, 2016, with a mission to provide mentorship to the under-served community of defacto
        orphans in China. The founding members are Chinese international students across North America and
        Europe, who are passionate believers of global education and are striving to foster a relationship between
        themselves and the children.
    </p>
    <p class="background-img">
        <img src="" th:src="@{images/target.png}"alt="target">
        <img src="" th:src="@{images/restructure.png}" alt="restructure" </p>

    <div id="footer">
        <a href="mailto: xyz@gmail.com">Contact Us</a>
    </div>
</body>

</html>