<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Login</title>
</head>

<body>

	<h1>Volunteer Registration</h1>
	<form action="/volunteer/registration" method="get">
		<label for="Name">Name :</label> <br />
		<input type="text" name="name" /> <br />

		<label for="Username">username :</label> <br />
		<input type="text" name="username" /> <br />

		<label for="password">Password :</label> <br />
		<input type="password" name="passwd" /> <br />

		<label for="Age">Age :</label> <br />
		<input type="age" name="age" /> <br />

		<label for="interest">Interest :</label> <br />
		<textarea id="interest" name="interest" rows="4" cols="50"> </textarea>
		<br />

        <label for="Major">Major :</label> <br />
		<textarea id="Major" name="Major" rows="4" cols="50"> </textarea>
		<br />

		<label for="gender">Gender :</label> <br />
		<select name="gender">
			<option value=""></option>
			<option value="male">Male</option>
			<option value="female">Female</option>
			<option value="other"> Other </option>
		</select>

		<br />

		<button type="submit">Submit</button>
	</form>
	<br />

</body>

</html>